@use "globals";

#contactpage {
    position:relative;
    z-index:0;
    overflow-x:hidden;
    overflow-y:auto;
    scroll-snap-type: inline mandatory;
    p {
        font-weight:300;
        letter-spacing: 0.05em;
    }
}

.boxcontainer {
    display:flex;
    transform:translateY(25px);
}

.contactbox {
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size:1.25rem;
    padding:6em 0 6em 0;
    cursor: pointer;
    color:white;
    width:300px;
    height:350px;
    
    border-radius:25px;
    margin:25px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    transition: transform 0.25s ease-in-out;
}

.contactbox:hover {
    transform: scale(1.1);
}

#linkedin {
    background-color: globals.$blue;
    text-decoration: none;
    margin-bottom:100px;
}

button {
    background-color: globals.$blue;
    font-family:'Lexend Deca';
    font-weight:700;
    font-size:1em;
    padding:20px;
    letter-spacing: 0.05em;
    border:none;
    margin:10px;
    border-radius:10px;
    display:flex;
    justify-content: center;
    color:white;
    align-items:center;
    transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.enabled {
    cursor:pointer;
}

.enabled:hover {
    transform: scale(1.1);
}

.loading-dot {
    animation: dotsloading 2s ease-in-out infinite;
}

@keyframes dotsloading {
    0% { transform:translateY(0)}
    25% { transform:translateY(-5px)}
    50% { transform:translateY(2px)}
    75% { transform:translateY(0)}
}

// MOBILE VIEW
@media screen and (max-width:800px) {
    #contactpage {
        overflow-y:scroll;
    }
    .contactbox {
        font-size:1em;
        padding:8em 0 8em 0;
    }
    .textContainer div {
        display:flex;
        flex-direction: column;
        align-items: center;
        line-height: 2em;
    }
    .projecttypebox {
        width:250px;
        height:250px;
        font-size:1.1rem;
    }
}