.body {
    position:absolute;
    background-color: #0C2848;
    /* color: #52667C; */
    /* background-color: #EBF0F6; */
    color:white;
    width:100%;
    height:100%;
    z-index:0;
    /* overflow-x:hidden; */
}

/** I. Landing Section Styling */
#landing {
    position:absolute;
    top:0;
    width:100%;
    height:max(100%, 600px);
    display:flex;
    justify-content: center;
    align-items: center;
}

.textContainer {
    transform:translateY(25px);
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    line-height: 1.5;
    animation-name: landingTextEnter;
    animation-duration: 0.8s;
}

@keyframes landingTextEnter {
    0% {transform:translateY(200px); opacity:0}
    75% {transform:translateY(-50px);opacity:1}
    100% {transform:translateY(25px);}
}

#textFirstLine { font-weight:200;font-size:1.5em;letter-spacing: .1em;}
#textSecondLine {font-weight: 700; font-size: 5em; letter-spacing: .3em;}
#textThirdLine { font-weight: 300; font-size:1.25em; letter-spacing: .5em;}
#textFourthLine { transform: translateY(50px); font-weight: 200; font-size:1em; letter-spacing: .1em;}

.landingLink {
    cursor:pointer;
    padding-bottom:5px;
    background-image: linear-gradient(white,white);
    background-position: bottom left;
    background-size: 0 3px;
    background-repeat: no-repeat;
    transition: 
        font-weight 0.2s ease-in-out, 
        background-size 0.2s ease-out,
        background-position 0s 0.2s ease-out;
    -moz-transition: 
        font-weight 0.2s ease-in-out, 
        background-size 0.2s ease-out,
        background-position 0s 0.2s ease-out;
    -ms-transition: 
        font-weight 0.2s ease-in-out, 
        background-size 0.2s ease-out,
        background-position 0s 0.2s ease-out;
    -o-transition: 
        font-weight 0.2s ease-in-out, 
        background-size 0.2s ease-out,
        background-position 0s 0.2s ease-out;
}

.landingLink:hover { 
    font-weight:700; 
    background-position: bottom right;
    background-size: 100% 3px;
}

#landingBGContainer {
    will-change: clip-path, opacity;

    position:absolute;
    background-color: #9F2950;
    width:100%;
    height:100%;

    animation: landStart 1s ease-in-out;
}

#designBG {
    will-change: clip-path;
    position:relative;
    background-image: radial-gradient(#D45168, #9F2950);
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
    width:100%;
    height:max(100vh, 600px);
    display:flex;
    justify-content: center;
    align-items: center;

    padding:0;
    background-position:right;
    transition:clip-path 0.3s ease-in-out;
}

#devBG {
    position:absolute;
    background-image: radial-gradient(#4374BE, #254F8C);
    width:100%;
    height:max(100vh, 600px);
    display:flex;
    justify-content: center;
    align-items: center;
}
#designBGoverlay {
    position:absolute;
    background-color: #D45168;
    width:100%;
    height:100%;
    opacity:0.75;
    mix-blend-mode:color;
}

@keyframes rotateanimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.rotatingbg {
    position:relative;
    background-size:cover;
    width:600px;
    height:600px;
    filter:blur(4px);
    opacity:0.25;
    transform-origin:center;
    animation-name: rotateanimation;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

#scrollingdesigns { background-image:url('../public/RotatingDesigns.png'); }
#scrollingdev { background-image:url('../public/RotatingDev.png'); }

#devBGoverlay {
    position:absolute;
    background-image: radial-gradient(#4374BE, #254F8C);
    width:100%;
    height:100%;
    opacity:0.5;
    mix-blend-mode:color;
}

/**
    Appendix I. Responsive Styling
*/
@media screen and (max-width:650px) {
    #textFirstLine { font-size: 1.25em; }
    #textSecondLine { font-size: 3em; }
    #textThirdLine { font-size:0.9em; }
    #textFourthLine { font-size: 0.75em; }
    #tabContainer { flex-direction: column;}
    .rotatingbg { width:400px; height:400px;}
}

/**
    Appendix II. Animations
*/
@keyframes landStart {
    0% { opacity:0;}
    50% { opacity:0; clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 0%);}
    100% { opacity:1; clip-path: polygon(0% 0%, 0% 100%, 60% 100%, 40% 0, 100% 0, 100% 100%, 60% 100%, 40% 0);}
}