/* GENERAL STYLING */

@keyframes pagestart {
    from { opacity:0;}
    to { opacity: 1;}
}

@keyframes start {
    from { opacity:0;transform:translateY(50px);}
    to { opacity: 1;transform:translateY(0px);}
}

.page {
    position:relative;
    background-color: #0C2848;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    overflow-x:hidden;
    overflow-y:scroll;
    color:white;
    text-shadow: 0 0 20px rgba(0,0,0,0.25);
    animation: pagestart 1s ease-in-out;
    scroll-behavior: smooth;
}

.page h1 {
    font-weight:700;
    font-size:1.75em;
    letter-spacing: 0.25em;
    margin:25px 0px 15px 0px;
    box-shadow:rgba(0,0,0,0.25);
    text-transform: uppercase;
    transition: font-size 0.25s ease-in-out;
    
    width:fit-content;
}

.textContainer {
    animation: start 1s ease-in-out;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    
}

.section {
    position:relative;
    width:100vw;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECTION I: LANDING */
#landingsection {
    transform: translateZ(-100px);
    perspective: 1000px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: left;
    padding-top:250px;
    padding-bottom:200px;
    height:max(100vh,800px);
    flex-shrink:0;
}

.categoryList {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
}

.category {
    font-weight: 300;
    font-size:0.9em;
    letter-spacing: 0.2em;
    display:flex;
    align-items: center;
    text-transform: uppercase;
}

.category:last-of-type .catSeparator {
    display:none;
}

#landingthumbnail {
    transform-origin: center;
    border-radius: 20px;
    width:400px;
    height:350px;
    background-size:cover;
    background-position: center;
    margin:50px 100px 50px 0px;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    animation: thumbnailstart 1s linear;
    flex-shrink: 0;
}
@keyframes thumbnailstart {
    from { opacity:0;}
    to { opacity: 1;}
}

@keyframes thumbnailanimationbig {
    0% {transform:rotateY(-73deg);}
    50% {transform:rotateY(0deg);}
    100% {transform:rotateY(107deg);}
}

@keyframes thumbnailanimationmed {
    0% {transform:rotateY(-80deg);}
    50% {transform:rotateY(0deg);}
    100% {transform:rotateY(100deg);}
}

@keyframes thumbnailanimationsmall {
    0% {transform:rotateY(-90deg);}
    50% {transform:rotateY(0deg);}
    100% {transform:rotateY(90deg);}
}

#projectorg {
    font-size:1.25em;
    letter-spacing: 0.25em;
    font-weight:500;
    width:fit-content;
}

#landingdesc {
    font-size:0.9em;
    font-weight: 200;
    letter-spacing: 0.1em;
    line-height: 1.25em;
    width:350px;
}

.toolList {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    margin-top:20px;
    margin-bottom:10px;
}

.jobTool {
    padding:0.5em 1em 0.5em 1em;
    margin-bottom:10px;
    margin-right:1em;
    border-radius:20px;
    border: 1.5px solid white;
    color:white;
    font-weight: 300;
    font-size:0.9em;
    transition:background-color 0.2s linear, color 0.2s linear;
    letter-spacing: 0.05em;
}

.jobTool:hover {
    color: #0C2848;
    background-color: white;
}

#landingresultcontainer {
    margin:50px 0 0px 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#landingresultcontainer h3 {
    margin:0;
    font-size:1em;
}

#landingseenext {
    position: relative;
    margin:0 0 50px 0;
    background-image:url('../public/DownArrow.svg');
    background-size:auto 12.5px;
    background-position:center bottom;
    background-repeat: no-repeat;
    text-transform: uppercase;
    width:fit-content;
    height:45px;
    letter-spacing: 0.1em;
    cursor:pointer;
    flex-shrink: 0;
    transition: opacity 0.2s linear;
}

#landingseenext:hover {
    opacity:0.75;
}

.contentcontainer {
    transform: translateZ(-100px);
    perspective: 1000px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: left;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink:0;
    margin:50px;
}

/* SECTION II: PROBLEM */
#problemSection {
    position: relative;
    padding:100px 80px 100px 80px;
    display:flex;
    justify-content: center;
    align-items:center;
    height:auto;
}

#problemSection h1 {
    font-size:1.1em;
    text-align: center;
}

#problemSection h3 {
    font-size:1.25em;
    font-weight:300;
    letter-spacing: 0.1em;
    text-align: center;
    padding:0;
    margin:0;
}

/* SECTION III: UI/UX DISPLAY */



/* APPENDIX: RESPONSIVE DESIGN */
@media screen and (max-width:1200px) {
    #landingthumbnail {
        width:300px;height:250px;margin-right:50px;
        animation: thumbnailanimationmed 10s linear infinite;
    }
    .page h1 { font-size:1.5em; width:350px;}
    #projectorg { font-size:0.9em; }
    #landingdesc { font-size:0.8em; width:300px; }
    .toolList {
        margin-top:18px;
        margin-bottom:5px;
    }
    .jobTool { font-size:0.75em; padding:0.25em 1em 0.25em 1em;}
    #landingresultcontainer h3, #landingseenext{ font-size:1em; }
}

@media screen and (max-width:800px) {
    #landingsection { padding: 25px; padding-top:0; }
    .contentcontainer { flex-direction: column; text-align: center; padding-bottom:25px;}
    #landingthumbnail {
        width:275px;height:225px;margin-right:0;
        animation: thumbnailanimationsmall 10s linear infinite;
    }
    .textContainer { align-items: center;}
    .page h1 { font-size:1.5em; }
    #landingdesc { font-size:0.75em; width:300px; }
    #landingsection {
        /* height:max(135vh,800px); */
        height:auto;
    }
    #problemSection h3 { font-size:1em; }
    #landingseenext, #landingresultcontainer h3 { font-size: 0.75em; background-size:auto 10px;}
}

@media (min-width:1200px) {
    #landingthumbnail {
        animation: thumbnailanimationbig 10s linear infinite;
    }
}