.card {
    width:350px;
    height:500px;
    border-radius: 15px;
    margin:50px 50px 0px 50px;
    color:white;
    /* color: #52667C; */
    display:flex;
    flex-direction: column;
    align-items: center;

    /* background-color:khaki; */
    animation-name: cardShows;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/* SECTION I. Thumbnail */

.thumbnail {
    display:flex;
    color:white;
    font-weight: 200;
    justify-content: center;
    width:auto;
    height:auto;
}

.cardBG {
    position:absolute;
    width:250px;
    height:200px;
    background-color:#9F2950;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.15);
    transition: opacity 0.25s ease-out, width 0.25s ease-out, height 0.25s ease-out, margin-bottom 0.25s ease-out;
}

.overlayBG {
    position:absolute;
    display:flex;
    flex-direction: column;
    width:250px;
    height:200px;
    opacity:0;
    background-color:rgba(0,0,0,0.6);
    border-radius: 15px;
    transition: opacity 0.25s ease-out, width 0.25s ease-out, height 0.25s ease-out, margin-bottom 0.25s ease-out;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.designBG {
    position:relative;
    transform: translate3d(-15px,15px,0px);
    width:250px;
    height:200px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.15);
    transition: opacity 0.25s ease-out, width 0.25s ease-out, height 0.25s ease-out, margin-bottom 0.25s ease-out;
}

.thumbnail:hover .overlayBG{
    width:300px;
    height:230px;
    opacity:1;
}
.thumbnail:hover .cardBG{
    width:300px;
    height:230px;
}

.thumbnail:hover .designBG{
    width:300px;
    height:230px;
    opacity:0.75;
}

/* SECTION II. Text */

.metadata {
    width:auto;
    height:auto;
    transform: translateY(40px);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cardHeadline {
    position:relative;
    font-weight:700;
    font-size:20px;
    text-align: center;
    transition: top 0.25s ease-out;
    /* margin:5px; */
    margin-top:10px;
    margin-bottom:0;
    letter-spacing:0.05em;
    /* box-shadow: 0px 0px 50px rgba(0,0,0,0.25); */
}

.cardSubhead {
    font-weight:500;
    font-size:15px;
    text-align: center;
    color:rgba(255,255,255,0.5);
    /* color: #52667C; */
}

.projectLink {
    margin-top: 15px;
    padding-bottom:5px;
    background-image: linear-gradient(white,white);
    background-position: bottom left;
    background-size: 0 3px;
    background-repeat: no-repeat;
    font-weight:300;
    transition:
        font-weight 0.2s ease-out,
        background-size 0.2s ease-out,
        background-position 0s 0.2s ease-out;
}

.projectLink:hover {
    font-weight:700;
    background-position: bottom right;
    background-size: 100% 3px;
}

.categories {
    color:white;
    margin-top:-5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designCategory {
    padding: 10px 20px 10px 20px;
    margin-left:5px;
    margin-right:5px;
    background-color:#9F2950;
    border-radius: 30px;
    font-weight: 300;
    font-size:12px;
}

.devCategory {
    padding: 10px 20px 10px 20px;
    margin-left:5px;
    margin-right:5px;
    background-color:#3B6AB0;
    border-radius: 30px;
    font-weight: 300;
    font-size:12px;
    
}

.description {
    margin:5px;
    width:250px;
    font-weight:200;
    line-height: 16px;
    font-size:12px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.25em;
}

@keyframes cardShows {
    from { opacity: 0; margin-top:100px; }
    to { opacity: 1; margin-top:50px; }
}